@import "tailwindcss";

* {
  cursor: none;
}

@layer base {
  :root {
    /* Light Mode Colors */
    --background: #ffffff;
    --foreground: #0a0a0a;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #a1a1aa;

    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --radius: 0.5rem;

  }

  .dark {
    /* Dark Mode Colors */
    --background: #0a0a0a;
    --foreground: #ededed;

    --muted: #1a1a1a;
    --muted-foreground: #a1a1aa;

    --accent: #2a2a2a;
    --accent-foreground: #ffffff;

    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;

    --card: #0a0a0a;
    --card-foreground: #ededed;
  }
}

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-inconsolata: var(--font-inconsolata), monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0
    }

    to {
      height: var(--radix-accordion-content-height)
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height)
    }

    to {
      height: 0
    }
  }
}

/* Base Styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border);
}